/* On mouse hover, lighten state color */
path:hover {
  fill-opacity: .7;
}

/* Style for Custom Tooltip */
/*div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}*/
        
/* Legend Font Style */
body {
  font: 11px sans-serif;
}
        
/* Legend Position Style */
.legend {
  position:absolute;
  left:800px;
  top:350px;
}

.graph {
  width: 220px;
  height: 450px;
  /*border: 10px solid black;*/
  display: inline-block;
  vertical-align: top;
  text-align: center; /* forces svg to align center */
  margin-top: 30px;
}

#mapContainer {
  width: 960px; 
  height: 500px;
  /*border: 10px solid red;*/
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.graph svg rect {
  fill-opacity: .7;
}

/* 8888888888 */



svg {
  font: 10px sans-serif;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.y.axis .zero line {
  stroke: #000;
  stroke-opacity: 1;
}

.title {
  font: 300 24px Helvetica Neue;
  fill: #666;
}

.birthyear,
.age {
  text-anchor: middle;
}

.birthyear {
  fill: #fff;
}


