
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{{ url_for('static', filename='js/d3-geo/d3-geo.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div id="header">Twitter vs Poll Results by State</div>

	<div id="mapContainer"></div>
	<div class="graph" id="graphTemp"></div>
	<div class="graph" id="graphPerm"></div>

	<div id="instructions">
		Each state's color roughly represents its political sway based on results from Twitter
		and poll results. Mousing over a state gives more detailed information. Click on a 
		state to freeze its detailed graph on the screen so you can compare it to other states.
	</div>


	<script type="text/javascript">
		data = {
			the_map: "{{ url_for('static', filename='resources/us-states.json') }}",
			voting_data: "{{ url_for('static', filename='resources/random-data.csv') }}"
		}
		everything(data);
	</script>
</body>
</html>
